# API keys
# Copy to .env and fill real keys
STEPFUN_API_KEY_1=6pZ3jWJGHoMXAcZZpjF3ierYzYDqHEpQLU9gK6auHIWhB1uthsLfqUAnzGLcBiW5x
STEPFUN_API_KEY_2=3ZrwQrJ6sG8i2AhNs89yejHYABzGnlT6pMpXaVxr1UDb4iSOQBeRzMwotRFXo3vP7
STEPFUN_API_KEY_3=4eZ2G2tgOlbaI3MfB54mDuCTpbreWWGjaUtMSTP42IsUHkbS8xkcQ1Zf9hqs6DGlt
STEPFUN_API_KEY_4=5FD40mZBI8s0NZx3NfOGpbLVDgWMUCGJwXxoxgxtm6GDpk7agpoRmkYtWTOSLWvCt
STEPFUN_API_KEY_5=50yWwsj0tsPglPPudVPGCHuivWP3kukyUTPaMNesmNzolxAOeBl6yktwS66GbUsQ
STEPFUN_API_KEY_6=7voYNQ6OdRV78nqvmaNEOTUOsvOr5vQDpf1QsDNWhdFHntWD9V2Dc61Qc9gcVD3Vm
STEPFUN_API_KEY_7=63AhrV0IbjdbVbFQVUqqCQJOQSuyJ3n9nUn3LXnNSZdBxKo2JLswf7qIXFEFn3ilp
STEPFUN_API_KEY_8=6cqW4gyXcWs2nVypU2jw3p6coQK9ZgG9Cj9UQtU0SrlIFtuwUvRSwimLMniD57t5G
DASHSCOPE_API_KEY=sk-af8e9af4aae340bd86178117f7f3f33c
